
.institutionContainer {
    display: flex;
    margin: 20px 10px;
    .institutionLogo {
       width: 50px;
       margin-right: 10px;
    }
    .institutionName {
        color: #fff;
        line-height: 50px;
    }
}
